# Byte-compiled / optimized / DLL files
dataset_linemod_test_single.pkl
dataset_linemod_train_single.pkl
__pycache__/
*.py[cod]
data/
imgs/
runs/
wandb/
*.pt
progressive-x/
temp/
detect/
ultralytics/
**/.DS_Store
# C extensions
*.so
.vscode/
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
